.construction__control__information__title {
    margin: 0 0 10px 0;
}

.construction__control__information__description {
    margin-bottom: 28px;
}

.construction__control__information__suptitle {
    margin: 62px 0 19px 0;
}

.construction__control__information-sub--description {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-gray);
}

.construction__control__information__row {
    position: relative;
}

.construction__control__information__image-1 {
    position: absolute;
    right:20px;
}

.construction__control__information__container {
    width: 590px;
    height: 96px;
    display: flex;
    justify-content: space-around;
    margin: 0 0 195px 0;
}

.construction__control__information__image-container {
    width: 402px;
    height: 272px; 
}

.construction__control__information__image-center {
    position: absolute;
    left: 0;
}

.construction__control__information__col-center {
    position: absolute;
    width: 515px;
    height: 96px;
    margin: 0 -1060px 0 0
}

.construction__control__information__suptitle-bottom {
    width: 550px;
}

.construction__control__information {
    margin: 0 0 337px 0;
}