.footer__location {
    padding-top: 23px;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-gray);
}

.footer__street {
    padding-bottom: 10px;
    font-size: 15px;
    line-height: 24px;
    color: var(--color-gray);
}

.footer__email {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-gray);
}

.footer__number {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-gray);
}

.footer__icon {
    padding-top: 20px;
    width: 24px;
    height: 24px;
    color: var(--color-gray);
}

.footer__list {
    margin-left: 140px;
}

.footer__item {
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-gray);
    margin-bottom: 8px;
}

.footer__item:first-child {
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 24px;
    color: #212b31;
}

.footer__inner {
    display: flex;
}

.footer__end {
    margin-top: 120px;
    padding: 31px 0 33px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--color-gray);
}

.footer__end span {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-gray);
}

@media screen and (max-width: 576px) {
    .footer__inner {
        flex-wrap: wrap;
        margin: 20px 0 0 -140px
    }
    .footer__list {
        width: 100%;
        margin-top: 20px;
    }
}