.header {
  justify-content: space-between;
  padding: 26px 31px;
}
.header,
.logo__link,
.nav__list {
  display: flex;
  align-items: center;
}
.logo__link {
  text-decoration: none;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: var(--color-black);
}
.logo__text {
  margin-left: 8px;
}
.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav__item {
  margin-right: 22px;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  text-decoration: none;
  color: var(--color-gray);
  transition: 0.3s;
}
.nav__link:hover {
  color: var(--color-blue);
}