.safety {
    padding: 140px 0 140px 0;
}

.safety__header {
    text-align: center;
}

.safety__title {
    position: relative;
    display: inline-block;
    align-items: center;
    font-size: 32px;
    line-height: 48px;
}

.safety__title::before {
    content: "";
    position: absolute;
    background: url("../images/flover.svg");
    width: 40px;
    height: 40px;
    right: -15%;
    top: -40%;
}

.safety__card {
    padding: 48px 0 0px;
    text-align: center;
}

.safety__suptitle {
    margin: 0px 0 10px;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-black);
}

.safety__description {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-gray);
}

.safety__item {
    padding: 16px;
}

.safety__footer {
    margin-top: 62px;
    align-items: center;
    padding: 46px 42px;
    background: var(--color-light-gray);
    border-radius: 5px;
}

.safety__detail {
    white-space: nowrap;
    margin: 0 66px 0 26px;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}
