.sponsors__logo {
    width: 1088px;
    height: 271.72px;
    align-items: center

}

.sponsors {
    display: flex;
    flex-wrap: wrap;
    margin-top: 71px;
}
.sponsors__image-logo {
    margin-right: 30px
    
}

.sponsors__image-logo:last-child {
    margin-left: 39%;
    margin-top: 10px
}